@import "tailwindcss";
@import url('https://fonts.cdnfonts.com/css/milkyway-3');

/* hinde nagana naka script sa loob kaso diren nagana ung config kasi tw4 gamit aray ko */
:root {
  /* fonts */
 --milkyway: 'Milkyway', sans-serif;;
 --normal: 

 /* color */
 --bg: #F8F9FA;
 --red: #E63946;
 --bg: #F8F9FA;
 --black: #2D2D2D;
 --holder: #A0A0A0;
 --white: #FFFFFF;
}

 * {
      margin: 0;
      padding: 0;
      font-family: 'Segoe UI', sans-serif;
    }
    
    input:focus {
      border-color: #E63946 !important;
      outline: none !important;
    }

@media (max-width: 768px) {

  .container {
    background-color: red;
    color: red;
  }

 }

 .page-enter {
            animation: pageEnter 0.5s ease forwards;
        }
        
        .page-exit {
            animation: pageExit 0.5s ease forwards;
        }
        
        @keyframes pageEnter {
            from {
                opacity: 0;
                transform: translateY(20px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
        
        @keyframes pageExit {
            from {
                opacity: 1;
                transform: translateY(0);
            }
            to {
                opacity: 0;
                transform: translateY(-20px);
            }
        }
        
        .transition-overlay {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: white;
            z-index: 9999;
            transform: translateY(100%);
            transition: transform 0.5s ease;
        }
