@import "tailwindcss";
@import url('https://fonts.cdnfonts.com/css/milkyway-3');
/* @config "./tailwind.config.js"; */

 .page-enter {
            animation: pageEnter 0.5s ease forwards;
        }
        
        .page-exit {
            animation: pageExit 0.5s ease forwards;
        }
        
        @keyframes pageEnter {
            from {
                opacity: 0;
                transform: translateY(20px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
        
        @keyframes pageExit {
            from {
                opacity: 1;
                transform: translateY(0);
            }
            to {
                opacity: 0;
                transform: translateY(-20px);
            }
        }
        
        .transition-overlay {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: white;
            z-index: 9999;
            transform: translateY(100%);
            transition: transform 0.5s ease;
        }
 .modal-content {
        animation: modalFadeIn 0.3s ease-out;
        margin: auto;
        margin-top: 100px;
      }
      
      @keyframes modalFadeIn {
        from {
          opacity: 0;
          transform: translateY(-20px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }

       .z-50 {
        z-index: 50;
       }
